<table>
        {% for error in form.non_field_errors %}
            <tr><td>{{ error }}</td></tr>
        {% endfor %}
        
        {% for field in form %}
            <tr><th>{{ field.label_tag }}</th><td>{{ field }}</td></td><td>
                {% ifnotequal field.label_tag '<label for="id_password1">Password:</label>' %}
                    {{field.help_text }}
                {% else %}
                    <span>Your password must contain at least 8 characters. Your password can be entirely numeric.</span>
                {% endifnotequal %}</td>                
        {% endfor %}
</table>