h1 a{
    color: #AB90D4;
    font-family: 'Baloo Bhaijaan';
}
body{
    padding-left: 15px;
    font-family: 'Lobster', cursive;
}
.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #AB90D4;
    font-size: 36pt;
    text-decoration: none;
}
.content {
    margin-left: 30px;
}
.date {
    color: #66716F;
}
.save {
    float: right;
}
.post-form textarea, .post-form input {
    width: 100%;
}
.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 20pt;
    margin-right: 20px;
}
.post {
    margin-bottom: 70px;
}
.post h1 a, .post h1 a:visited {
    color: #000000;
}
.comment{
    margin: 20px 20px 20px 20px;
}
hr.style1:after {
	content: '\002618';
	display: inline-block;
	position: relative;
    top: -14px;
	color: #E4910B;
	font-size: 18px;
	/* -webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg); */
}
hr.style1:before {
	content: '\2665';
	display: inline-block;
	position: relative;
    bottom: 10px;
    right: -20px;
	color: #E4910B;
	font-size: 12px;
	-webkit-transform: rotate(120deg);
	-moz-transform: rotate(120deg);
	transform: rotate(120deg);
}
hr.style1 {
	border-top: 1px solid #8c8b8b;
    text-align: center;
    width: 20%;
    margin: 0;
}
table, th, td {
    border: 1px solid #E5DDDD;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
